.menu {

}


#sideMenuHeader {

    .toolbar-background {
        background: #e27074;
    }

    .toolbar-title {
        color: #fafafa;
    }
    
}

.outer-content {
    
    ion-label {
         color: #db3a3a;
     }
}
